<section>
 <%= @users.each do |user| %>
 <div class="d-flex blue-400">
   <%= image_tag(user.photo) %>
 <%= link_to user.name, user%>
   <h2><%= user.name%></h2>
   <span>number of posts:0</span>
   </div>
 <%end%>
</section>

