<section>
<div>
<div>
<%= image_tag(@user.photo)%>
</div class="d-flex">
<div>
<h2><%= @user.name%></h2>
<span>Number of posts:x<span>
</div>
</div>
<div>
<h2>Bio</h2>
<p><%= @user.bio%></p>
</div>
<div></div>
<button>See all posts</button>
</section>